* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    height: 120vh;
}

.left-panel {
    width: 20%;
    background-color: #007BFF; /* Blue background */
    color: white; /* White text */
    padding: 20px;
    border-right: 1px solid #ddd;
    height: 120vh;
    box-sizing: border-box;
    flex-grow: 1; 
}

.left-panel h2 {
    color: white; /* Ensure the header is also white */
}

.left-panel a {
    color: white; /* Set link color to white */
    text-decoration: none; /* Remove underline */
}

.left-panel a:hover {
    text-decoration: underline; /* Optional: Add underline on hover */
}

.right-panel {
    width: 80%;
    padding: 20px;
    overflow-y: auto;
    flex-grow: 1;
}

.menu-item {
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.menu-item:hover {
    background-color: #ddd;
}

.active {
    background-color: #ccc;
}

section {
    margin-bottom: 20px;
}

header {
    background-color: #004d99;
    background-image: url('sjsu_background.jpg'); 
    background-size: 100%; 
    background-position: center; 
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: white;
}

header-text a {
    color: white;
    text-decoration: none !important; /* Remove underline for links */
}

header-text a:hover {
    text-decoration: underline; /* Optional: Add underline on hover */
}

#header-text a:visited {
    color: white; /* Set visited link color to white */
}

nav {
    background-color: #003366;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.counter {
    font-size: 2em;
    margin: 20px 0;
}

a {
    text-decoration: none; /* Remove default underline */
}

a:hover {
    text-decoration: underline; /* Underline on hover */
}

